<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport"
          content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">
    <meta name="Description" content="Dating App">
    <meta name="theme-color" content="#317EFB"/>
    <title>Lovr</title>
    <link rel="stylesheet" href="public/css/overrides.css">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon"
            href="/public/images/apple-touch-icon.png">​
</head>
<body>