<div class="profile" id="h-cont">
<div class="username">menrySeymour</div>
<div class="name">Henry Schornak</div>
<div class="out-pic">
    <img class="pic" id="henry" src="/public/images/henry.png" alt="henry">
</div>
<div class="decision">
    <img class="heart" id="h-y" src="/public/images/heart.png" alt="heart">
    <img class="heart" id="h-n" src="/public/images/thumbs-down.png" alt="thumbs-down">
</div>
<div class="bio">
    <p>
        I just be Henry.
    </p>
</div>
</div>