<% include public/views/header.ejs %>

<div id="index-cont">
<div class="container">

    <img id="banner" src="/public/images/banner.png" alt="Heart Monitor">

    <div id="nav">
        <div class="main button side" id="sign-up" >Sign Up</div>

        <div class="main button" id="look" >Look For Love</div>

        <div class="main button side" id="login"> Log In </div>
    </div>
</div>
</div>

<% include public/views/jacob.ejs %>
<% include public/views/tucker.ejs %>
<% include public/views/will.ejs %>
<% include public/views/parker.ejs %>
<% include public/views/jared.ejs %>
<% include public/views/henry.ejs %>

<% include public/views/footer.ejs %>