<div class="profile" id="j-cont">
<div class="cont">
<div class="username">j2schornak</div>
<div class="name">Jacob Schornak</div>
<div class="out-pic">
    <img class="pic" id="jacob" src="/public/images/jacob.png" alt="jacob">
</div>
<div class="decision">
    <img class="heart" id="j-y" src="/public/images/heart.png" alt="heart">
    <img class="heart" id="j-n" src="/public/images/thumbs-down.png" alt="thumbs-down">
</div>
<div class="bio">
    <p>
        2 4 6 8 we do not intelligate
        <br>
        6'2"
    </p>
</div>
</div>
</div>