<div class="profile" id="r-cont">
<div class="username">weeb_LOL</div>
<div class="name">Jared Malzwcjbka</div>
<div class="out-pic">
    <img class="pic" id="reese" src="/public/images/jared.png" alt="reese">
</div>
<div class="decision">
    <img class="heart" id="r-y" src="/public/images/heart.png" alt="heart">
    <img class="heart" id="r-n" src="/public/images/thumbs-down.png" alt="thumbs-down">
</div>
<div class="bio">
    <p>
        If you don't have tentacles I'm not interested.
    </p>
</div>
</div>