<div class="profile" id="p-cont">
<div class="username">PWhiteford</div>
<div class="name">Parker Whiteford</div>
<div class="out-pic">
    <img class="pic" id="parker" src="/public/images/parker.png" alt="parker">
</div>
<div class="decision">
    <img class="heart" id="p-y" src="/public/images/heart.png" alt="heart">
    <img class="heart" id="p-n" src="/public/images/thumbs-down.png" alt="thumbs-down">
</div>
<div class="bio">
    <p>
        Aspiring amateur pharmacist.
    </p>
</div>
</div>