<div class="profile" id="t-cont">
<div class="username">sipe_tuc</div>
<div class="name">Tucker Sipe</div>
<div class="out-pic">
    <img class="pic" id="tucker" src="/public/images/tucker.png" alt="tucker">
</div>
<div class="decision">
    <img class="heart" id="t-y" src="/public/images/heart.png" alt="heart">
    <img class="heart" id="t-n" src="/public/images/thumbs-down.png" alt="thumbs-down">
</div>
<div class="bio">
    <p>
        Professional fiend.
    </p>
</div>
</div>