<div class="profile" id="w-cont">
<div class="username">fivedyce</div>
<div class="name">Will Fordyce</div>
<div class="out-pic">
    <img class="pic" id="will" src="/public/images/will.png" alt="will">
</div>
<div class="decision">
    <img class="heart" id="w-y" src="/public/images/heart.png" alt="heart">
    <img class="heart" id="w-n" src="/public/images/thumbs-down.png" alt="thumbs-down">
</div>
<div class="bio">
    <p>
       Fratboy in training.
    </p>
</div>
</div>